<div id="{{ context.id_prefix }}deleteConfirmationModal" class="modal">
    <div class="modal-content">
        <h4>Delete Confirmation</h4>
        <p>Are you sure you want to delete this item?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="#!" id="{{ context.id_prefix }}confirmDeleteButton" class="waves-effect waves-red btn-flat">Delete</a>
    </div>
</div>

<div class="{{ context.id_prefix }}table-container">
    <!-- Search Bar -->
    <div class="row">
        <div class="input-field col s10">
            <input type="text" id="{{ context.id_prefix }}search-bar" placeholder="Search...">
        </div>
        <div class="input-field col s2 tooltipped" data-position="left" data-tooltip="Select page size">
            <select id="{{ context.id_prefix }}page-size">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>

    <!-- Table -->
    <table class="highlight {{ context.id_prefix }}table-instance">
        <thead id="{{ context.id_prefix }}table-headers">
        <tr>
            {% for header, width in context.headers %}
            <th {{context.id_prefix}}data-field="{{ header|lower }}" {{context.id_prefix}}data-order="asc"
                class="sortable-header" style="width: {{ width }};">{{
                header }}{% if header %}<i class="material-icons tiny">unfold_more</i>{% endif %}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody id="{{ context.id_prefix }}table-body">
        <!-- Table data -->
        </tbody>
    </table>

    <!-- Pagination -->
    <ul class="pagination" id="{{ context.id_prefix }}pagination-container">
        <!-- Pagination content -->
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
            new AjaxTable('/api/{{ context.api_endpoint }}/', '{{ context.id_prefix }}', '{{ context.id_prefix }}table-headers', '{{ context.id_prefix }}table-body', '{{ context.id_prefix }}search-bar', '{{ context.id_prefix }}page-size', '{{ context.id_prefix }}pagination-container');
        });

    </script>
</div>