<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CB | {{ page_title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script defer src="{{ url_for('static', filename='js/ajaxtable.js') }}"></script>
</head>

<body>

<ul id="slide-out" class="sidenav">
    {% include 'component/nav.html' %}
</ul>

<ul class="sidenav sidenav-fixed">
   {% include 'component/nav.html' %}
</ul>

<div class="header">
    <div class="content">
        <div class="container hide-on-med-and-down">
            <h1>{{ page_title }}</h1>
        </div>
        <div class="hide-on-large-only">
            <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                <a href="#" data-target="slide-out" class="sidenav-trigger" style="flex-shrink: 0;"><i class="material-icons">menu</i></a>
                <h1 class="mobile">{{ page_title }}</h1>
                <div style="width: 24px;"></div>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="container">
        {% block content %}
        <!-- content goes here -->
        {% endblock %}
    </div>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
</script>
</body>