{% extends 'base.html' %}

{% block content %}
<br>
<table class="highlight">
    <thead>
    <tr>
        <th>Sender</th>
        <th>Email</th>
        <th>Timestamp</th>
        <th>Relevance</th>
        <th class="truncate">Message</th>
    </tr>
    </thead>
    <tbody>
    {% for message in messages %}
    <tr>
        <td>{{ message.name }}</td>
        <td>{{ message.email }}</td>
        <td>{{ message.timestamp }}</td>
        <td>{{ message.relevance }}</td>
        <td class="truncate-td">{{ message.message_content }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}