<div class="sidenav-content">
    <div>
        <li>
            <div class="user-view">
                <i class="material-icons medium" style="color: white;">account_circle</i>
                <a href="#name"><span class="white-text name" style="display: block; margin: 0; padding: 5px 0; line-height: 1.2;">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a class="waves-effect" href="/home"><i class="material-icons">message</i>Messages</a></li>
        <li><a class="waves-effect" href="/integrations"><i class="material-icons">settings_ethernet</i>Integrations</a></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">group</i>Users</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Settings</a></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">account_box</i>Account</a></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">admin_panel_settings</i>Admin</a></li>
    </div>

    <li style="margin-top: auto;"><a class="waves-effect" href="/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
</div>