<li>
    <div class="user-view">
        <i class="material-icons medium" style="color: white;">account_circle</i>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
</li>
<li><a class="waves-effect" href="#!">Messages</a></li>
<li><a class="waves-effect" href="#!">Integrations</a></li>
<li><a class="waves-effect" href="#!">Users</a></li>
<li>
    <div class="divider"></div>
</li>
<li><a class="subheader">Settings</a></li>
<li><a class="waves-effect" href="#!">Account</a></li>
<li><a class="waves-effect" href="#!">Admin</a></li>