{% if table.pagination_enabled %}
  <ul class="pagination">
    <!-- Add Pagination Logic Here -->
    {% set total_pages = ((table.rows|length / table.page_size) | round(0, 'ceil')) | int %}
    {% for i in range(1, total_pages + 1) %}
    <li class="{% if table.current_page == i %}active{% else %}waves-effect{% endif %}">
      <a href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endfor %}
  </ul>
{% endif %}

<table id="table-instance" class="highlight">
    <thead>
    <tr>
        <!-- Headers and sortable logic will be inserted here -->
        {% for header in table.headers %}
        <th>
          {{ header }}
          {% if header in table.sortable_columns %}
            <!-- Add sorting logic/link here -->
            <a href="?sort_by={{ header }}&order=asc">↑</a>
            <a href="?sort_by={{ header }}&order=desc">↓</a>
          {% endif %}
        </th>
        {% endfor %}
        <!-- Additional header for callback actions if any -->
        {% if table.callback_column %}
        <th>{{ table.callback_column }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    <!-- Rows and Data will be inserted here -->
    {% for row in table.rows %}
    <tr onclick="window.location.href='{{ table.row_click_url_template.format(row[0]) }}';">
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
        <!-- Callback action buttons if any -->
        {% if table.callback_column %}
        <td>
            <button onclick="{{ table.callback_column.function(row[0]) }}">{{ table.callback_column.name }}</button>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>