<table class="highlight table-instance">
    <thead>
    <tr>
        {% for header, width in table.headers %}
        <th style="width: {{ width }}">
            {{ header }}
            {% if header in table.sortable_columns %}
            <a href="?sort_by={{ header }}&order=asc">↑</a>
            <a href="?sort_by={{ header }}&order=desc">↓</a>
            {% endif %}
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table.rows %}
    <tr onclick="window.location.href='{{ table.row_click_url_template.format(row[0]) }}';">
        {% for cell in row %}
        <td><p class="truncate">{{ cell }}</p></td>
        {% endfor %}
        {% for callback_column in table.callback_columns %}
        <td>{{ callback_column(row) | safe }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if table.pagination_enabled %}
<ul class="pagination" data-current-page="{{ table.current_page }}" data-total-pages="{{ table.total_pages }}">
    <li class="{% if table.current_page == 1 %}disabled{% else %}waves-effect{% endif %}">
        <a href="javascript:void(0);" onclick="changePage('prev')"><i class="material-icons">chevron_left</i></a>
    </li>
    {% for i in range(1, table.total_pages + 1) %}
    <li class="{% if table.current_page == i %}active{% else %}waves-effect{% endif %}">
        <a href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endfor %}
    <li class="{% if table.current_page == table.total_pages %}disabled{% else %}waves-effect no-hover-effect{% endif %}">
        <a href="javascript:void(0);" onclick="changePage('next')"><i class="material-icons">chevron_right</i></a>
    </li>
</ul>
{% endif %}